<config>
<toplevel id="main">
   <field_search>
      <field><id>identifier</id><location>fullrecord/item/identifier</location></field>
      <field><id>publisher</id><location>fullrecord/item/publisher</location></field>
      <field><id>language</id><location>fullrecord/item/language</location></field>
      <field><id>comments</id><location>fullrecord/comments/comment/*</location></field>
      <field><id>source</id><location>fullrecord/item/source</location></field>
      <field><id>creator</id><location>fullrecord/item/creator</location></field>
      <field><id>subject</id><location>fullrecord/item/subject</location></field>
      <field><id>subcollection</id><location>fullrecord/filename/subpath</location></field>
      <field><id>contributor</id><location>fullrecord/item/contributor</location></field>
      <field><id>description</id><location>fullrecord/item/description</location></field>
      <field><id>lod</id><location>fullrecord/item/levelOfDescription</location></field>
      <field><id>all</id><location>weight=5 fullrecord/item/title;*//text()</location></field>
      <field><id>relation</id><location>fullrecord/item/relation</location></field>
      <field><id>type</id><location>fullrecord/item/type</location></field>
      <field><id>format</id><location>fullrecord/item/format</location></field>
      <field><id>date</id><location>fullrecord/item/date</location></field>
      <field><id>coverage</id><location>fullrecord/item/coverage</location></field>
      <field><id>title</id><location>fullrecord/item/title</location></field>
      <field><id>rights</id><location>fullrecord/item/rights</location></field>
   </field_search>
   <field_browse>
      <field><id>title</id><name>Title</name><location>title</location></field>
      <field><id>creator</id><name>Author</name><location>creator</location></field>
      <field><id>date</id><name>Date</name><location>date</location></field>
      <field><id>publisher</id><name>Publisher</name><location>publisher</location></field>
   </field_browse>
   <field_sort>
      <field>relevance</field>
      <field>title</field>
      <field>date</field>
   </field_sort>
   <field_index>
      <index><id>1</id><name>metadata +fulltext +comments</name><location>/home/musab/Music/development/Mustafa/simpledl/src/main/java/simpledl/bin/../../data/config/../../public_html/metadata,/home/musab/Music/development/Mustafa/simpledl/src/main/java/simpledl/bin/../../data/config/../../db/comments,/home/musab/Music/development/Mustafa/simpledl/src/main/java/simpledl/bin/../../data/config/../../db/fulltext</location></index>
      <index><id>2</id><name>metadata +comments</name><location>/home/musab/Music/development/Mustafa/simpledl/src/main/java/simpledl/bin/../../data/config/../../public_html/metadata,/home/musab/Music/development/Mustafa/simpledl/src/main/java/simpledl/bin/../../data/config/../../db/comments</location></index>
      <index><id>3</id><name>metadata</name><location>/home/musab/Music/development/Mustafa/simpledl/src/main/java/simpledl/bin/../../data/config/../../public_html/metadata</location></index>
   </field_index>
</toplevel>
<toplevel id="users">
   <field_search>
      <field><id>name</id><location>fullrecord/user/name</location></field>
      <field><id>all</id><location>weight=100 fullrecord/user/name;*//text()</location></field>
      <field><id>type</id><location>fullrecord/user/type</location></field>
   </field_search>
   <field_browse>
   </field_browse>
   <field_sort>
      <field>relevance</field>
      <field>name</field>
   </field_sort>
   <field_index>
      <index><id>1</id><name>users</name><location>/home/musab/Music/development/Mustafa/simpledl/src/main/java/simpledl/bin/../../data/config/../../public_html/users</location></index>
   </field_index>
</toplevel>
</config>