.create-instance-form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    padding: 0.5rem;
  }
  
  .submit-button {
    background-color: lightgreen;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.725rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  